[package]
name = "uactor"
version = "0.4.2"
edition = "2021"
repository = "https://github.com/EnvOut/uactor"
license = "MIT"
readme = "../../README.md"
keywords = ["actor", "actor-system", "stream", "actor-stream", "spawn-process"]
workspace = "../../"
description = "The fastest and most modular actor system that doesn’t force you to pay for what you don’t need"

[dependencies]
tokio = { workspace = true }
futures = { workspace = true }
async-trait = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
paste = "1.0"
derive_more = { workspace = true }

[dev-dependencies]
tracing-subscriber = { version = "0.3" }
anyhow = "1"
time = "0.3"

[[example]]
name = "base_sample"